/* Style for the container of all orders */

.orders-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  /* Style for each individual order */
  .order-card {
    width: 300px;
    background-color: rgb(234, 245, 251);
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
    
    /* Style for order details */
    .order-details {
      margin-top: 10px;
    }
    
    /* Style for order title */
    .order-title {
      font-size: 18px;
      font-weight: bold;
    }
    
    /* Style for order item */
    .order-item {
      margin-top: 5px;
    }
    
    /* Style for order item name */
    .order-item-name {
      font-weight: bold;
    }
    
    /* Style for order item quantity */
    .order-item-quantity {
      color: #6c757d;
    }